
@import 'bootstrap/bootstrap';
@import 'vars';
@import 'mixins';


body {
  padding-top: 0px !important;
  font-size: 16px;
  line-height: 170%;
  font-family: $body-font; 
  color : $text;
}

.center-block{
   float : none;
}

.right{
  float : right;
}

h1{
  font-family: $title-font;
  font-size: 32px;
  margin : 40px 0;
}

h2{
  font-family: $title-font;
  font-size: 26px;
  line-height: 160%;
  margin : 20px 0;

}

h3{
   font-family: $title-font;
   font-size: 18px;
   margin : 20px 0;
}

.navbar.navbar-default{
  background: #434343;
  .navbar-nav{
       a{
          @include transition();
          color: #ccc;
          @include box-shadow(inset 0px 0px 0px #989898);
          &:hover{
            color : #fff;
            @include box-shadow(inset 0px -4px 0px #989898);
          }
       }
      .active a{
         background: none;
         @include box-shadow(inset 0px -4px 0px #c8c8c8);
      }
  }
  .collapse.navbar-collapse{
     padding : 0;
  }
  .navbar-nav.navbar-right{
     margin-right : -20px;
  }
}



.navbar-header{
    .navbar-brand{
        background-image: url("../img/logo.png");
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-size: 160px;
        width: 160px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin: 9px 20px 0 0;
    }
}


@import 'list';
@import 'show';
@import 'forms';



